body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #525b76;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 3px solid #525b76;
  color: #525b76;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
  margin-top: 1px;
  margin-right: 1px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30vw;
}

.game-info {
  margin-left: 30px;
}

.X {
  color: orange;
}

.O {
  color: cadetblue;
}

button {
  /* background-color: #525b76; */
  color: #525b76;
  border: 1px solid #525b76;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  font-size: medium;
  margin-top: 4px;
}
